attrs
backcall
bleach
cycler
decorator
defusedxml
entrypoints
ipykernel
ipython
ipython-genutils
jedi
Jinja2
joblib
jsonschema
jupyter-client
jupyter-core
jupyterlab
jupyterlab-server
kiwisolver
MarkupSafe
matplotlib
mistune
nbconvert
nbformat
notebook
numpy
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
prometheus-client
prompt-toolkit
ptyprocess
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
pyzmq
scikit-learn
scipy
Send2Trash
six
terminado
testpath
torch
torchvision
tornado
traitlets
wcwidth
webencodings
streamlit
